# Vehicle Sales Data Analysis
This notebook outlines the code and results of the ten data analysis tasks for the BS3220 Parallel Programming assignment.

### Import libraries and load data

In [2]:
# Import necessary libraries
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.window import Window
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.regression import LinearRegression
from pyspark.ml.evaluation import RegressionEvaluator
from pyspark.sql.types import StringType


# Initialize Spark session
spark = SparkSession.builder \
    .appName("Discount Analysis") \
    .config("spark.driver.memory", "4g") \
    .config("spark.executor.memory", "4g") \
    .config("spark.driver.maxResultSize", "2g") \
    .config("spark.network.timeout", "800s") \
    .config("spark.executor.heartbeatInterval", "120s") \
    .config("spark.sql.legacy.timeParserPolicy", "LEGACY") \
    .getOrCreate()

spark.sparkContext.setLogLevel("DEBUG")


df = spark.read.csv("Superstore.csv", header=True, inferSchema=True)

### Data cleaning

In [3]:
from pyspark.sql.functions import month, year, count, to_date, round

df = df.withColumn("Sales", round("Sales", 2))
df = df.withColumn("Order Date", to_date("Order Date", "dd/MM/yyyy"))

df.select("Order Date").show(5, truncate=False)
df = df.filter(~col("Product Name").contains('"'))

filtered_count = df.count()
print(f"Filtered row count: {filtered_count}")

+----------+
|Order Date|
+----------+
|2013-11-09|
|2013-11-09|
|2013-06-13|
|2012-10-11|
|2012-10-11|
+----------+
only showing top 5 rows

Filtered row count: 9183

### Task 1: Find the total sales for each item, both the number of units and the total price/cost

In [4]:
total_sales_per_item = df.groupBy("Product Name").agg(
    sum("Quantity").alias("Total Units"),
    format_number(sum("Sales"), 2).alias("Total Sales")
)
total_sales_per_item.show(truncate=False)

+---------------------------------------------------------------------------------+-----------+-----------+
|Product Name                                                                     |Total Units|Total Sales|
+---------------------------------------------------------------------------------+-----------+-----------+
|GBC ProClick 150 Presentation Binding System                                     |22.0       |3,222.99   |
|Wasp CCD Handheld Bar Code Reader                                                |3.0        |336.51     |
|Wilson Jones 14 Line Acrylic Coated Pressboard Data Binders                      |23.0       |100.39     |
|Aastra 6757i CT Wireless VoIP phone                                              |16.0       |2,929.98   |
|Global Armless Task Chair, Royal Blue                                            |28.0       |1,396.44   |
|Sortfiler Multipurpose Personal File Organizer, Black                            |24.0       |483.42     |
|Bretford �Just In Time� Height-Adjustable Multi-Task Work Tables                 |17.0       |5,634.90   |
|Avery Durable Binders                                                            |50.0       |87.26      |
|Xerox 212                                                                        |25.0       |141.27     |
|Office Star - Contemporary Swivel Chair with Padded Adjustable Arms and Flex Back|32.0       |3,989.73   |
|Maxell 4.7GB DVD+R 5/Pack                                                        |13.0       |11.69      |
|Acco Economy Flexible Poly Round Ring Binder                                     |6.0        |11.48      |
|Fellowes Recycled Storage Drawers                                                |12.0       |1,287.95   |
|Safco Commercial Shelving                                                        |11.0       |483.71     |
|Xerox 1901                                                                       |4.0        |16.90      |
|Plantronics Voyager Pro HD - Bluetooth Headset                                   |25.0       |1,221.82   |
|Dana Swing-Arm Lamps                                                             |15.0       |108.93     |
|Cisco IP�Phone�7961G VoIP�phone�- Dark gray                                      |12.0       |1,386.69   |
|GBC VeloBinder Strips                                                            |20.0       |52.99      |
|Okidata C610n Printer                                                            |5.0        |2,011.90   |
+---------------------------------------------------------------------------------+-----------+-----------+
only showing top 20 rows

### Task 2: Summarise the total sales of all items at each location

In [6]:
total_sales_per_location = df.filter(df["Sales"].isNotNull()) \
    .groupBy("City") \
    .agg(sum("Sales").alias("Total Sales")) \
    .orderBy(col("Total Sales").desc()) 

# Format the column after sorting
total_sales_per_location = total_sales_per_location.withColumn(
    "Total Sales", format_number("Total Sales", 2)
)

total_sales_per_location.show(truncate=False)

+-------------+-----------+
|City         |Total Sales|
+-------------+-----------+
|New York City|241,000.45 |
|Los Angeles  |168,539.72 |
|Seattle      |113,898.95 |
|San Francisco|109,699.89 |
|Philadelphia |104,549.69 |
|Houston      |63,716.90  |
|Chicago      |47,004.49  |
|San Diego    |46,052.02  |
|Jacksonville |44,289.18  |
|Detroit      |42,276.50  |
|Springfield  |40,729.08  |
|Columbus     |36,474.45  |
|Newark       |27,832.00  |
|Lafayette    |25,001.83  |
|Columbia     |23,649.72  |
|Burlington   |21,623.33  |
|Jackson      |21,315.85  |
|San Antonio  |21,164.86  |
|Dallas       |19,529.04  |
|Richmond     |17,849.57  |
+-------------+-----------+
only showing top 20 rows

### Task 3: List all products and their combined sales, grouped by their location of sale.

In [ ]:
sales_by_product_and_location = df.groupBy("City", "Product Name").agg(
    sum("Sales").alias("Sum Sales")
)

sales_by_product_and_location = sales_by_product_and_location.withColumn(
    "Combined Sales", format_number("Sum Sales", 2)
).drop("Sum Sales")

# Ordering the results by City
sales_by_product_and_location = sales_by_product_and_location.orderBy("City")

sales_by_product_and_location.show(truncate=False)

+--------+---------------------------------------------------------------+--------------+
|City    |Product Name                                                   |Combined Sales|
+--------+---------------------------------------------------------------+--------------+
|Aberdeen|Acme Titanium Bonded Scissors                                  |25.50         |
|Abilene |Hoover Commercial Lightweight Upright Vacuum                   |1.39          |
|Akron   |Newell 315                                                     |14.35         |
|Akron   |Cisco IP Phone 7961G-GE VoIP phone                             |259.90        |
|Akron   |GBC Recycled VeloBinder Covers                                 |25.56         |
|Akron   |Deflect-o Glass Clear Studded Chair Mats                       |149.23        |
|Akron   |Belkin F8E887 USB Wired Ergonomic Keyboard                     |71.98         |
|Akron   |Southworth 25% Cotton Linen-Finish Paper & Envelopes           |21.74         |
|Akron   |Google Nexus 5                                                 |323.98        |
|Akron   |SAFCO Commercial Wire Shelving, Black                          |221.02        |
|Akron   |Xerox 1949                                                     |15.94         |
|Akron   |Wilson Jones Active Use Binders                                |4.37          |
|Akron   |Plantronics Voyager Pro Legend                                 |247.19        |
|Akron   |GBC Standard Therm-A-Bind Covers                               |14.95         |
|Akron   |Deluxe Rollaway Locking File with Drawer                       |665.41        |
|Akron   |Logitech G500s Laser Gaming Mouse with Adjustable Weight Tuning|279.96        |
|Akron   |Acco Hanging Data Binders                                      |2.29          |
|Akron   |Acco Expandable Hanging Binders                                |5.74          |
|Akron   |OIC Colored Binder Clips, Assorted Sizes                       |17.18         |
|Akron   |Xerox 1906                                                     |85.06         |
+--------+---------------------------------------------------------------+--------------+
only showing top 20 rows

### Task 4: Show the sales numbers for the item which sold the most units at each location

In [ ]:
windowSpec = Window.partitionBy("City").orderBy(col("Total Units").desc())

best_selling_items_per_location = df.groupBy("City", "Product Name").agg(
    sum("Quantity").alias("Total Units"),
    sum("Sales").alias("Total Sales")
).withColumn("rank", rank().over(windowSpec)) 

best_selling_items_per_location = best_selling_items_per_location.filter(col("rank") == 1).drop("rank")

best_selling_items_per_location.show()

+------------+--------------------+-----------+-----------+
|        City|        Product Name|Total Units|Total Sales|
+------------+--------------------+-----------+-----------+
|    Aberdeen|Acme Titanium Bon...|        3.0|       25.5|
|     Abilene|Hoover Commercial...|        2.0|       1.39|
|       Akron|OIC Colored Binde...|        6.0|      17.18|
| Albuquerque|OtterBox Commuter...|        8.0|     140.74|
| Albuquerque|SimpliFile Person...|        8.0|       90.8|
|  Alexandria|DAX Wood Document...|       14.0|     192.22|
|       Allen|           Xerox 198|        4.0|      15.94|
|       Allen|GBC Imprintable C...|        4.0|       8.78|
|   Allentown|SAFCO Commercial ...|        6.0|     663.07|
|     Altoona|Eldon Spacemaker ...|        6.0|      16.03|
|    Amarillo|HON 5400 Series T...|        5.0|    2453.43|
|    Amarillo|           Xerox 212|        5.0|      25.92|
|     Anaheim|GBC Recycled Velo...|        9.0|     122.69|
|     Anaheim|Carina Mini Syste...|        9.0|     998.82|
|     Andover|Situations Contou...|        5.0|      354.9|
|   Ann Arbor|             Staples|        7.0|      57.96|
|     Antioch|           Xerox 216|        3.0|      19.44|
|      Apopka|GBC Prepunched Pa...|        6.0|      27.02|
|      Apopka|DataProducts Ampl...|        6.0|     129.89|
|Apple Valley|Peel & Seel Recyc...|        5.0|       57.9|
+------------+--------------------+-----------+-----------+
only showing top 20 rows

### Task 5: List all items that were sold within two months of your choosing

In [ ]:
df = df.withColumn("Sales", round("Sales", 2))
df = df.withColumn("Order Date", to_date("Order Date", "dd/MM/yyyy"))

jan_2014_sales = df.filter((month("Order Date") == 1) & (year("Order Date") == 2014))
jan_2014_total_sales = jan_2014_sales.groupBy("Product Name").agg(sum("Sales").alias("Total Sales"))
total_jan_2014 = jan_2014_sales.agg(sum("Sales").alias("Total Sales for January 2014")).collect()[0][0]

dec_2014_sales = df.filter((month("Order Date") == 12) & (year("Order Date") == 2014))
dec_2014_total_sales = dec_2014_sales.groupBy("Product Name").agg(sum("Sales").alias("Total Sales"))
total_dec_2014 = dec_2014_sales.agg(sum("Sales").alias("Total Sales for December 2014")).collect()[0][0]

print(f"Total Sales for January 2014: {total_jan_2014:.2f}")

print("Sales Details for January 2014:")
jan_2014_total_sales.show(truncate=False)

print(f"Total Sales for December 2014: {total_dec_2014:.2f}")

print("Sales Details for December 2014:")
dec_2014_total_sales.show(truncate=False)

Total Sales for January 2014: 44048.21
Sales Details for January 2014:
+----------------------------------------------------+-----------+
|Product Name                                        |Total Sales|
+----------------------------------------------------+-----------+
|GBC ProClick 150 Presentation Binding System        |2022.27    |
|Avery Durable Binders                               |14.4       |
|Xerox 212                                           |25.92      |
|Flat Face Poster Frame                              |37.68      |
|Bagged Rubber Bands                                 |2.52       |
|GBC Instant Report Kit                              |38.82      |
|Avanti 4.4 Cu. Ft. Refrigerator                     |542.94     |
|Office Star - Contemporary Task Swivel Chair        |310.74     |
|Quartet Omega Colored Chalk, 12/Pack                |9.34       |
|Airmail Envelopes                                   |268.58     |
|Strathmore Photo Mount Cards                        |21.7       |
|Xerox 1997                                          |12.96      |
|Xerox 192                                           |6.48       |
|Samsung Galaxy Mega 6.3                             |2939.93    |
|Poly String Tie Envelopes                           |2.04       |
|DXL Angle-View Binders with Locking Rings by Samsill|7.71       |
|Tennsco Industrial Shelving                         |156.51     |
|Novimex Swivel Fabric Task Chair                    |120.78     |
|Acco D-Ring Binder w/DublLock                       |4.28       |
|Eldon Fold 'N Roll Cart System                      |153.78     |
+----------------------------------------------------+-----------+
only showing top 20 rows

Total Sales for December 2014: 84766.08
Sales Details for December 2014:
+---------------------------------------------------------------------------------+-----------+
|Product Name                                                                     |Total Sales|
+---------------------------------------------------------------------------------+-----------+
|Office Star - Contemporary Swivel Chair with Padded Adjustable Arms and Flex Back|1141.94    |
|Bretford �Just In Time� Height-Adjustable Multi-Task Work Tables                 |1669.6     |
|Acco Economy Flexible Poly Round Ring Binder                                     |3.13       |
|Safco Commercial Shelving                                                        |37.21      |
|Okidata C610n Printer                                                            |649.0      |
|Avery 473                                                                        |72.45      |
|Microsoft Wireless Mobile Mouse 4000                                             |199.95     |
|Xerox 1884                                                                       |143.86     |
|Wirebound Message Book, 4 per Page                                               |38.01      |
|Eureka The Boss Lite 10-Amp Upright Vacuum, Blue                                 |320.64     |
|Novimex High-Tech Fabric Mesh Task Chair                                         |113.57     |
|Bagged Rubber Bands                                                              |3.02       |
|Global Comet Stacking Armless Chair                                              |897.15     |
|Logitech G105 Gaming Keyboard                                                    |178.11     |
|Avery 492                                                                        |5.76       |
|Belkin SportFit Armband For iPhone 5s/5c, Fuchsia                                |62.96      |
|DAX Two-Tone Silver Metal Document Frame                                         |16.19      |
|Premier Elliptical Ring Binder, Black                                            |45.66      |
|Eldon Gobal File Keepers                                                         |15.14      |
|Microsoft Natural Ergonomic Keyboard 4000                                        |149.95     |
+---------------------------------------------------------------------------------+-----------+
only showing top 20 rows

### Task 6: Identify the item which has the lowest overall sales, both for the dataset as a whole and for each sales location

In [ ]:
lowest_sales_overall = df.groupBy("Product Name").agg(
    count("*").alias("Number of Sales")
).orderBy("Number of Sales").limit(1)

lowest_sales_by_location = df.groupBy("City", "Product Name").agg(
    count("*").alias("Number of Sales")
)

windowSpec = Window.partitionBy("City").orderBy(col("Number of Sales"), col("Product Name"))

ranked_sales_by_location = lowest_sales_by_location.withColumn("rank", rank().over(windowSpec))

lowest_sales_details_by_location = ranked_sales_by_location.filter(col("rank") == 1).select(
    "City", "Product Name", "Number of Sales")

print("Item with the Lowest Number of Sales Occurrences Overall:")
lowest_sales_overall.show(truncate=False)

print("Item with the Lowest Number of Sales Occurrences per Location:")
lowest_sales_details_by_location.show(truncate=False)

Item with the Lowest Number of Sales Occurrences Overall:
+---------------------------------+---------------+
|Product Name                     |Number of Sales|
+---------------------------------+---------------+
|Wasp CCD Handheld Bar Code Reader|1              |
+---------------------------------+---------------+

Item with the Lowest Number of Sales Occurrences per Location:
+-----------------+-------------------------------------------------------+---------------+
|City             |Product Name                                           |Number of Sales|
+-----------------+-------------------------------------------------------+---------------+
|Aberdeen         |Acme Titanium Bonded Scissors                          |1              |
|Abilene          |Hoover Commercial Lightweight Upright Vacuum           |1              |
|Akron            |Acco Expandable Hanging Binders                        |1              |
|Albuquerque      |AT&T TR1909W                                           |1              |
|Alexandria       |AT&T CL82213                                           |1              |
|Allen            |Chromcraft Round Conference Tables                     |1              |
|Allentown        |12 Colored Short Pencils                               |1              |
|Altoona          |Eldon Spacemaker Box, Quick-Snap Lid, Clear            |1              |
|Amarillo         |Bush Mission Pointe Library                            |1              |
|Anaheim          |Acme Box Cutter Scissors                               |1              |
|Andover          |GBC Binding covers                                     |1              |
|Ann Arbor        |Belkin 6 Outlet Metallic Surge Strip                   |1              |
|Antioch          |Xerox 216                                              |1              |
|Apopka           |DataProducts Ampli Magnifier Task Lamp, Black,         |1              |
|Apple Valley     |Atlantic Metals Mobile 4-Shelf Bookcases, Custom Colors|1              |
|Appleton         |Avery 481                                              |1              |
|Arlington        |AT&T CL82213                                           |1              |
|Arlington Heights|Newell 332                                             |1              |
|Arvada           |Avery 509                                              |1              |
|Asheville        |Avery Durable Slant Ring Binders                       |1              |
+-----------------+-------------------------------------------------------+---------------+
only showing top 20 rows

### Task 7: Find the most expensive and least expensive item for each location where sales occurred

In [ ]:
expensiveCheapPerLocation = df.groupBy("City", "Product Name").agg(
    max("Sales").alias("Most Expensive Sale"), 
    min("Sales").alias("Least Expensive Sale")
)

windowSpecMost = Window.partitionBy("City").orderBy(col("Most Expensive Sale").desc())
windowSpecLeast = Window.partitionBy("City").orderBy(col("Least Expensive Sale"))

mostExpensivePerLocation = expensiveCheapPerLocation.withColumn("rank", rank().over(windowSpecMost))
mostExpensivePerLocation = mostExpensivePerLocation.filter(col("rank") == 1).select(
    "City", "Product Name", "Most Expensive Sale")

leastExpensivePerLocation = expensiveCheapPerLocation.withColumn("rank", rank().over(windowSpecLeast))
leastExpensivePerLocation = leastExpensivePerLocation.filter(col("rank") == 1).select(
    "City", "Product Name", "Least Expensive Sale")

print("Most Expensive Items per Location:")
mostExpensivePerLocation.show(truncate=False)

print("Least Expensive Items per Location:")
leastExpensivePerLocation.show(truncate=False)

Most Expensive Items per Location:
+-----------------+------------------------------------------------------------------+-------------------+
|City             |Product Name                                                      |Most Expensive Sale|
+-----------------+------------------------------------------------------------------+-------------------+
|Aberdeen         |Acme Titanium Bonded Scissors                                     |25.5               |
|Abilene          |Hoover Commercial Lightweight Upright Vacuum                      |1.39               |
|Akron            |Deluxe Rollaway Locking File with Drawer                          |665.41             |
|Albuquerque      |WD My Passport Ultra 2TB Portable External Hard Drive             |595.0              |
|Alexandria       |Martin Yale Chadless Opener Electric Letter Opener                |4164.05            |
|Allen            |Chromcraft Round Conference Tables                                |244.01             |
|Allentown        |SAFCO Commercial Wire Shelving, Black                             |663.07             |
|Altoona          |Eldon Spacemaker Box, Quick-Snap Lid, Clear                       |16.03              |
|Amarillo         |HON 5400 Series Task Chairs for Big and Tall                      |2453.43            |
|Anaheim          |Tennsco 16-Compartment Lockers with Coat Rack                     |1295.78            |
|Andover          |Situations Contoured Folding Chairs, 4/Set                        |354.9              |
|Ann Arbor        |Logitech G19 Programmable Gaming Keyboard                         |619.95             |
|Antioch          |Xerox 216                                                         |19.44              |
|Apopka           |Sanyo 2.5 Cubic Foot Mid-Size Office Refrigerators                |671.54             |
|Apple Valley     |Atlantic Metals Mobile 4-Shelf Bookcases, Custom Colors           |1194.17            |
|Appleton         |Plantronics CS510 - Over-the-Head monaural Wireless Headset System|1649.75            |
|Arlington        |Cisco SPA301                                                      |1871.88            |
|Arlington Heights|Newell 332                                                        |14.11              |
|Arvada           |Hon 4070 Series Pagoda Armless Upholstered Stacking Chairs        |466.77             |
|Asheville        |Cisco Unified IP Phone 7945G VoIP phone                           |1363.96            |
+-----------------+------------------------------------------------------------------+-------------------+
only showing top 20 rows

Least Expensive Items per Location:
+-----------------+-----------------------------------------------------------------------------------------------+--------------------+
|City             |Product Name                                                                                   |Least Expensive Sale|
+-----------------+-----------------------------------------------------------------------------------------------+--------------------+
|Aberdeen         |Acme Titanium Bonded Scissors                                                                  |25.5                |
|Abilene          |Hoover Commercial Lightweight Upright Vacuum                                                   |1.39                |
|Akron            |Acco Hanging Data Binders                                                                      |2.29                |
|Albuquerque      |Xerox 1953                                                                                     |4.28                |
|Alexandria       |Eldon Image Series Black Desk Accessories                                                      |12.42               |
|Allen            |GBC Imprintable Covers                                                                         |8.78                |
|Allentown        |Staples                                                                                        |3.49                |
|Altoona          |Eldon Spacemaker Box, Quick-Snap Lid, Clear                                                    |16.03               |
|Amarillo         |Staples                                                                                        |19.65               |
|Anaheim          |Newell 323                                                                                     |3.36                |
|Andover          |Personal Folder Holder, Ebony                                                                  |11.21               |
|Ann Arbor        |KLD Oscar II Style Snap-on Ultra Thin Side Flip Synthetic Leather Cover Case for HTC One HTC M7|29.16               |
|Antioch          |Xerox 216                                                                                      |19.44               |
|Apopka           |Pressboard Hanging Data Binders for Unburst Sheets                                             |2.95                |
|Apple Valley     |Newell 346                                                                                     |8.64                |
|Appleton         |Avery 481                                                                                      |21.56               |
|Arlington        |Computer Printout Index Tabs                                                                   |1.34                |
|Arlington Heights|Newell 332                                                                                     |14.11               |
|Arvada           |Avery 509                                                                                      |6.26                |
|Asheville        |Newell 350                                                                                     |7.87                |
+-----------------+-----------------------------------------------------------------------------------------------+--------------------+
only showing top 20 rows

### Task 8: Calculate the average cost of an item at each location within your dataset

In [ ]:
average_cost_per_location = df.groupBy("City").agg(
    round(avg("Sales"), 2).alias("Average Sales")
).orderBy("City") 

print("Average Cost of an Item at Each Location:")
average_cost_per_location.show(truncate=False)

Average Cost of an Item at Each Location:
+-----------------+-------------+
|City             |Average Sales|
+-----------------+-------------+
|Aberdeen         |25.5         |
|Abilene          |1.39         |
|Akron            |135.92       |
|Albuquerque      |158.58       |
|Alexandria       |391.68       |
|Allen            |72.55        |
|Allentown        |121.89       |
|Altoona          |16.03        |
|Amarillo         |416.66       |
|Anaheim          |337.12       |
|Andover          |108.96       |
|Ann Arbor        |177.85       |
|Antioch          |19.44        |
|Apopka           |142.6        |
|Apple Valley     |228.11       |
|Appleton         |835.66       |
|Arlington        |203.4        |
|Arlington Heights|14.11        |
|Arvada           |125.85       |
|Asheville        |210.77       |
+-----------------+-------------+
only showing top 20 rows

### Task 9: Based on your individual dataset, create a set of variables which can be used as broadcast variables.

In [ ]:
df = df.withColumn("Discount", col("Discount").cast("double"))

discount_categories = {
    0.0: "No Discount",
    0.1: "Student Discount",
    0.15: "Seasonal Discount",
    0.2: "Promotional Discount",
    0.3: "Blue Light Discount - Basic",
    0.32: "Blue Light Discount - Enhanced",
    0.4: "Frequent Shopper Discount",
    0.45: "Affiliate Discount",
    0.5: "Standard Employee Discount",
    0.6: "Senior Employee Discount",
    0.7: "Management Discount",
    0.8: "Executive Employee Discount"
}

# Broadcast the discount categories dictionary
broadcast_discount_categories = spark.sparkContext.broadcast(discount_categories)

def get_discount_type(discount):
    return broadcast_discount_categories.value.get(discount, "Unknown Discount")

discount_type_udf = udf(get_discount_type, StringType())

df = df.withColumn("Discount Type", discount_type_udf(col("Discount")))

discount_summary = df.groupBy("Discount Type").agg(
    count("Order ID").alias("Number of Orders"),
    round(sum("Sales"), 2).alias("Total Sales"),
    round(avg("Sales"), 2).alias("Average Sales")
).orderBy("Total Sales", ascending=False)

discount_summary.show()

+--------------------+----------------+-----------+-------------+
|       Discount Type|Number of Orders|Total Sales|Average Sales|
+--------------------+----------------+-----------+-------------+
|         No Discount|            4418| 1020973.96|       231.09|
|Promotional Discount|            3367|  742528.69|       220.53|
|Frequent Shopper ...|             194|  109750.51|       565.72|
|Blue Light Discou...|             218|   98445.86|       451.59|
|    Student Discount|              94|    54369.3|        578.4|
|Standard Employee...|              61|   54358.16|       891.12|
| Management Discount|             366|   39507.12|       107.94|
|   Seasonal Discount|              51|   27122.59|       531.82|
|Executive Employe...|             268|   16566.29|        61.81|
|Blue Light Discou...|              27|   14493.45|       536.79|
|  Affiliate Discount|              11|    5484.98|       498.63|
|Senior Employee D...|             108|    4354.96|        40.32|
+--------------------+----------------+-----------+-------------+

### Task 10: Complete one other query to analyse the data, based on your individual dataset.

In [ ]:
df = df.withColumn("Order Date", to_date(col("Order Date"), "yyyy-MM-dd"))

order_counts = df.groupBy("Order Date").agg(countDistinct("Order ID").alias("Order Count"))

top_days = order_counts.orderBy(desc("Order Count")).limit(5)

least_days = order_counts.orderBy("Order Count").limit(5)

print("Top 5 Days with the Most Orders:")
top_days.show()

print("Top 5 Days with the Least Orders:")
least_days.show()

Top 5 Days with the Most Orders:
+----------+-----------+
|Order Date|Order Count|
+----------+-----------+
|2013-09-06|         17|
|2014-12-03|         16|
|2014-11-20|         15|
|2014-09-05|         15|
|2014-11-25|         15|
+----------+-----------+

Top 5 Days with the Least Orders:
+----------+-----------+
|Order Date|Order Count|
+----------+-----------+
|2012-07-14|          1|
|2011-07-02|          1|
|2012-05-02|          1|
|2012-11-11|          1|
|2011-08-30|          1|
+----------+-----------+

### Machine Learning

In [ ]:
df = df.withColumn("Order Date", to_timestamp("Order Date", "dd/MM/yyyy"))
df = df.withColumn("Year", year("Order Date"))
df = df.withColumn("Quarter", quarter("Order Date"))

quarterly_data = df.groupBy("Year", "Quarter").agg(
    sum("Sales").alias("TotalSales"),
    sum("Quantity").alias("TotalQuantity"),
    sum("Profit").alias("TotalProfit")
)

# Split data into training (Q1-Q3) and testing (Q4)
train_data = quarterly_data.filter(col("Quarter") < 4)
test_data = quarterly_data.filter((col("Quarter") == 4) & (col("Year") == 2014))

assembler = VectorAssembler(
    inputCols=["TotalQuantity", "TotalProfit"], 
    outputCol="features"
)

train_data = assembler.transform(train_data)
test_data = assembler.transform(test_data)

lr = LinearRegression(featuresCol="features", labelCol="TotalSales")

lr_model = lr.fit(train_data)

predictions = lr_model.transform(test_data)

evaluator = RegressionEvaluator(labelCol="TotalSales", predictionCol="prediction", metricName="rmse")
rmse = evaluator.evaluate(predictions)
print("Root Mean Squared Error (RMSE) on test data = %g" % rmse)

predictions.select("Year", "Quarter", "TotalSales", "prediction").show()

Root Mean Squared Error (RMSE) on test data = 31780.4
+----+-------+-----------------+------------------+
|Year|Quarter|       TotalSales|        prediction|
+----+-------+-----------------+------------------+
|2014|      4|270048.4300000002|238268.05966878505|
+----+-------+-----------------+------------------+